html {
    font-family: 'Athiti', sans-serif;
}   
    
}
h1 {
    font-family: 'Athiti', sans-serif;
}
h2, h3, h4, a, p, ul, li {
    font-family: 'Nunito Sans', sans-serif;
}
.intro-header .page-heading h1 {
    color: white;
}

.big-img .intro-header {
    margin-top: 10px;
}
.intro-header.big-img .page-heading, .intro-header.big-img .post-heading {
    padding: 160px 0;
}
.navbar {
    border:none;
}
#timeline {
    background-color: #3F51B5;
    color: white;
}
#sobre .about{
    text-align: left;
}
.navbar-custom  {
    background: #3F51B5;
}
.navbar-custom .navbar-brand, .navbar-custom .nav li a {
    font-weight: 800;
    color: #fff;
}
body {
    background: #1A237E;
    color: white;
}
body a {
    color: #FF5722;
}
.intro-header .page-heading h1 {
    font-size: 36px;
}
.post-title {
    color: #FF5722;
}
.post-entry {
    color: white;
}
.post-preview a{
    color: #FF5722;
}
@media only screen and (min-width: 768px)
.navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
    background: #3F51B5;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #3F51B5;
}
footer {
    background: #1A237E;
    border-style: none;
    color: white;
    margin-top: 0;
}
.header-section.has-img .no-img {
    background: #000;
    box-shadow: none;
}