<p>Meu nome é <a href="/index.html" alt="home" target="_blank">Jefferson Klister Jr</a>,  tenho 23 anos e atualmente resido em Belém do Pará. <br>
  Durante a minha vida adquiri as seguintes qualidades profissionais:</p>

<ul>
<li>Fluência na língua Inglesa (conversação, leitura e escrita)</li>
    <li>Pró-atividade</li>
    <li>Competência</li>
    <li>Criatividade</li>
    <li>Determinação</li>
</ul>

<h3>Em que lhe posso ser útil?</h3>
    <ul>
        <li>Algum post que te chamou a atenção? </li>
        <li>Pensando em fazer seu próprio portfólio digital?</li>
        <li>Tens a idéia em mente mas ainda não sabe como fazer?</li>
    </ul>    
<h2>Vem falar <a href="/contato" alt ="pagina contato" target="_blank">comigo</a>!</h2>

<p>Você já conhece a <a href="http://castledev.tk" alt="Castle Dev link" target="_blank">Agência Digital Castle Dev</a>?<br></p>

<p>Dê um olho e por que não, se torne nosso mais novo cliente!</p>