    <ul class="timeline">
    <li class="timeline">
     <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/1.png" alt="Santa catarina"></h2>
         </div>
         <div class="timeline-body">
             <h3><a href="http://www.cscs.com.br/" alt="cscs">Ensino Fundamental e Médio</a></h3>
             <p>No Colégio Santa Catarina de Sena foi onde tive minha base católica. Conheci, entendi e vivi também, as fortes influências cristãs também de minha região. Belém do pará. Cidade que além de ser casa do Círio de Nazaré o maior evento religioso do País, tem uma culinária rica em <a href="https://www.google.com.br/search?q=cores+ver+o+peso&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjszvLYp-jTAhXMjZAKHfAHAEAQ_AUIBigB&biw=1366&bih=648#tbm=isch&q=culin%C3%A1ria+paraense" alt="cores">cores</a>, <a href="http://www.receitastipicas.com/receitas/manicoba-para.html" alt="maniçoba">sabores</a> e <a href="https://pt.wikipedia.org/wiki/Culin%C3%A1ria_do_Par%C3%A1" alt="cheiros">cheiros</a>!</p>
         </div>
     </div>
    </li>

    <li class="timeline-inverted">
     <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/2.png" alt="Kumon logo"></h2>
         </div>
         <div class="timeline-body">

                <h3> Você conhece o <a href="https://kumon.com.br/sobre-o-kumon/" alt="kumon">método</a> <a href="https://kumon.com.br" alt="kumon">Kumon</a>?</h3><p>Esta eficiente metodologia de ensino, fortalece a autonomia de estudo em seus estudantes, sejam ainda crianças ou já adultos. Desenvolvendo além da confiança em conquistar o conhecimento sozinho, a organização e discplina! <br><br>
                Inicialmente aluno, com o tempo, em paralelo ao kumon de <a href="https://kumon.com.br/curso-de-matematica/" alt="kumon matemática">matemática</a> e <a hred="https://kumon.com.br/curso-de-ingles/" alt="kumon ingles">inglês</a>, me tornei auxiliador da unidade em que estudava. Corrigindo material e auxiliando os estudantes em suas duvidas por dois anos. Reforçando minhas bases na área de exatas e língua inglesa.
             </p>
         </div>
     </div>
    </li>

    <li class="timeline">
     <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/3.png" alt="UFPA"></h2>
         </div>
         <div class="timeline-body">
             <h3><a href="http://www.computacao.ufpa.br/index.php/sistemas-de-informacao/breve-historico" alt="SI">Sistemas de Informação</a></h3>
             <p>Ingressando na Universidade aos 19 anos, tive a oportunidade de ter um contato com uma paixão até então desconhecida. A Informação. </p>
         </div>
     </div>
    </li>

    <li class="timeline-inverted">
     <div class="timeline-badge warning text-center"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/4.png" alt="ctic"></h2>

         </div>
         <div class="timeline-body">
             <h3><a href="https://www.ctic.ufpa.br/" alt="ctic" target="_blank">Estágio em Rede de computadores</a></h3>
             <p>
               Do 1º ao 5º semestre, estagiei no Centro de Tecnologias de Informação e Comunicação da UFPA. Onde tive a engrandecedora oportunidade de ver de perto como um centro de tecnologia se comporta enfrentando as barreiras diárias.<br>Como estagiário no setor de redes, me cabia desde configurar switches, a garantir o funcionamento adequado da rede lógica e física da UFPA campus guamá.
             </p>
         </div>
     </div>
    </li>

    <li class="timeline">
     <div class="timeline-badge warning text-center"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/aslan.png" alt="aslan"></h2>

         </div>
         <div class="timeline-body">
             <h3><a href="http://aslanet.com.br/" alt="curso de idiomas aslan" target="_blank">Curso de idiomas ASLAN</a></h3>
             <p>
               Incentivado pela família, retomei meus estudos em 2012 (pois eu já havia começado mas não concluído). Premiado com uma bolsa de estudo integral, fiz o teste de nivelação para equiparar meus conhecimentos da língua inglesa ao nível equivalente dentro do curso. Saindo do primeiro e indo direto pro quinto nível, consegui adiantar 5 semestres de aula. Logo mais, em 2015 conclui meus estudos de inglês no Aslan.  
             </p>
         </div>
     </div>
    </li>

    <li class="timeline-inverted">
     <div class="timeline-badge warning text-center"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/5.png" alt="curtin uni logo"></h2>
         </div>
         <div class="timeline-body">
             <h3><a href="http://www.curtin.edu.au/" alt="curtin uni" target="_blank">Intercâmbio na Australia</a></h3>
             <p>
             Tive a oportunidade de fazer um ano de graduação sanduíche em Perth na Australia em 2016, na Curtin University. Oportunidade única, a qual tive a chance de experenciar graças ao Governo Federal Brasileiro, pelo programa <a href="http://www.cienciasemfronteiras.gov.br/web/csf" alt="csf" target="_blank">Ciências Sem Fronteiras</a>. <br>Essa indescritível experiência me fez perceber que nada nesse mundo nos é dado. Temos de correr atrás, afinal ninguém o fará por nós!
             </p>
         </div>
     </div>
    </li>

    <li class="timeline">
     <div class="timeline-badge warning text-center"><i class="fa fa-bullseye"></i></div>
     <div class="timeline-panel">
         <div class="timeline-heading text-center">
             <h2 class="timeline-title"><img src="/img/timeline/6.png" alt="castledev logo"></h2>

         </div>
         <div class="timeline-body">
             <h3><a href="https://castledevup.github.io" alt="castledev">Agência Digital CastleDev</a></h3>
             <p>
               Em paralelo a família, graduação, lazer e vida social, atualmente também me dedico a Agência digital <a href="https://castledevup.github.io" alt="castledev" target="_blank">CastleDev</a>.
             </p>
         </div>
     </div>
    </li>
    </ul>