  <section id="timeline">
        <div class="container">
              <div class="section-body">
                <div class="row flex">

                  <!-- PROJECT XS E SM -->
                  <div class="col-xs-12 col-sm-12 text-center       hidden-md hidden-lg">
                    <img  class="grupo-2 img-responsive"  alt="Klisters timeline" src="img/timeline.png" />
                  </div>
                  <div class="col-xs-12 col-sm-12 text-center       hidden-md hidden-lg">
                    <h2>MEU BACKGROUND</h2>
                      
                  </div>

                  <!-- PROJECT MD E lG -->
                  <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                    <ul class="timeline">
                        
                     <li class="timeline">
                         <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/1.png" alt="Santa catarina">2002 ~ 2010</h2>
                             </div>
                             <div class="timeline-body">
                                 <p>No Colégio Santa Catarina de Sena tive minha forte base católica despertada. Conheci, entendi e vivi as fortes influências cristãs também de minha região. Belém do pará. Minha cidade que é casa do Círio de Nazaré, o maior evento religioso do País.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/2.png" alt="Kumon logo">2008 ~ 2010</h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Texto sobre o método Kumon
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/3.png" alt="UFPA">2013</h2>
                             </div>
                             <div class="timeline-body">
                                 <p>Ingressei na universidade em 2013, no curso Bacharelando em sistemas de informação.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/4.png" alt="ctic">2013 ~ 2015</h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Logo ao entrar na universidade eu consegui um estágio no Centro de Tecnologias de informação e comunicação da UFPA.
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning"><i class="fa fa-code"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/5.png" alt="curtin uni logo">2016</h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                 Tive a oportunidade de fazer uma graduação sanduiche na australia no ano de 2016, na Curtin University
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/6.png" alt="castledev logo">2017</h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Em paralelo a família, graduação, lazer e vida social, também me dedico a Agência digital <a hrf="https://castledevup.github.io" alt="castledev" target="_blank">CastleDev</a>
                                 </p>
                             </div>
                         </div>
                     </li>
                     
                   </ul>
                  </div>
               </div>
              </div>
        </div>
  </section>