  <section id="timeline">
        <div class="container">
              <div class="section-body">
                <div class="row flex">

                  <!-- PROJECT XS E SM -->
                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                  {% include timelinetext.html type="page" %}
                    </div>
                    
                  <!-- PROJECT MD E lG -->
                  <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                    
                  {% include timelinetext.html type="page" %}
                  </div>
             </div>
           </div>
        </div>
  </section>