  <section id="timeline">
        <div class="container">
              <div class="section-body">
                <div class="row flex">

                  <!-- PROJECT XS E SM -->
                  <div class="col-xs-12 col-sm-12 text-center       hidden-md hidden-lg">
                     <ul class="timeline">
                      <li class="timeline">
                         <div class="timeline-badge warning"></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/santaano.png" alt="Santa catarina"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>No Colégio Santa Catarina de Sena tive minha forte base católica despertada. Conheci, entendi e vivi as fortes influências cristãs também de minha região. Belém do pará. Minha cidade que é casa do Círio de Nazaré, o maior evento religioso do País.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/kumonano.png" alt="Kumon logo"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Texto sobre o método Kumon
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/ufpaano.png" alt="UFPA"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>Ingressei na universidade em 2013, no curso Bacharelando em sistemas de informação.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning text-center"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/cticano.png" alt="ctic"></h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Logo ao entrar na universidade eu consegui um estágio no Centro de Tecnologias de informação e comunicação da UFPA.
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning text-center"><i class="fa fa-code"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/curtinano.png" alt="curtin uni logo"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                 Tive a oportunidade de fazer uma graduação sanduiche na australia no ano de 2016, na Curtin University
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning text-center"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/castleano.png" alt="castledev logo"></h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Em paralelo a família, graduação, lazer e vida social, também me dedico a Agência digital <a href="https://castledevup.github.io" alt="castledev" target="_blank">CastleDev</a>
                                 </p>
                             </div>
                         </div>
                     </li>
                    </ul>
                      
                  </div>

                  <!-- PROJECT MD E lG -->
                  <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                    
                      <ul class="timeline">
                      <li class="timeline">
                         <div class="timeline-badge warning"></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/santaano.png" alt="Santa catarina"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>No Colégio Santa Catarina de Sena tive minha forte base católica despertada. Conheci, entendi e vivi as fortes influências cristãs também de minha região. Belém do pará. Minha cidade que é casa do Círio de Nazaré, o maior evento religioso do País.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/kumonano.png" alt="Kumon logo"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Texto sobre o método Kumon
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/ufpaano.png" alt="UFPA"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>Ingressei na universidade em 2013, no curso Bacharelando em sistemas de informação.</p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning text-center"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/cticano.png" alt="ctic"></h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Logo ao entrar na universidade eu consegui um estágio no Centro de Tecnologias de informação e comunicação da UFPA.
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline">
                         <div class="timeline-badge warning text-center"><i class="fa fa-code"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading text-center">
                                 <h2 class="timeline-title"><img src="/img/timeline/curtinano.png" alt="curtin uni logo"></h2>
                             </div>
                             <div class="timeline-body">
                                 <p>
                                 Tive a oportunidade de fazer uma graduação sanduiche na australia no ano de 2016, na Curtin University
                                 </p>
                             </div>
                         </div>
                     </li>
                        
                     <li class="timeline-inverted">
                         <div class="timeline-badge warning text-center"><i class="fa fa-desktop"></i></div>
                         <div class="timeline-panel">
                             <div class="timeline-heading">
                                 <h2 class="timeline-title"><img src="/img/timeline/castleano.png" alt="castledev logo"></h2>

                             </div>
                             <div class="timeline-body">
                                 <p>
                                   Em paralelo a família, graduação, lazer e vida social, também me dedico a Agência digital <a href="https://castledevup.github.io" alt="castledev" target="_blank">CastleDev</a>
                                 </p>
                             </div>
                         </div>
                     </li>
                     
                   </ul>
                  </div>
             </div>
           </div>
        </div>
  </section>