---
layout: page
---

    <section id="sobre">
          <!-- TELAS PEQUENAS -->
          <div class="col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
            {{ content }}
          </div>
          <div class="col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
            <img  class="castle"  alt="logo CastleDev" src="/img/castle.png" />
          </div>

          <!-- TELAS MÉDIAS E GRANDES -->
          <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
            {{ content }}
         </div>
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
            <a href="https://castledevup.github.io"><img  class="castle"  alt="logo CastleDev" src="/img/castle.png" /></a>
            <a <img  class="castle"  alt="logo CastleDev" src="/img/castle.png" />
        </div>
    </section>
                