---
layout: page
---

<section id="sobre">
        <div class="container">
                  <!-- PROJECT XS E SM -->
                  <div class="col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
                    {{ content }}
                  </div>
                  <div class="col-xs-12 col-sm-12 text-center hidden-md hidden-lg">
                    <img  class="castle"  alt="logo CastleDev" src="/img/castle.png" />
                  </div>

                  <!-- PROJECT MD E lG -->
                  <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                    {{ content }}
                 </div>
                <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
                    <a href="https://castledevup.github.io"><img  class="castle"  alt="logo CastleDev" src="/img/castle.png" /></a>
                    <a <img  class="castle"  alt="logo CastleDev" src="/img/castle.png" />
                </div>
                  
                </div>
              </div>
        </div>
  </section>